body {
    margin: 0;
}

#TrangWeb {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #2a3cad;
    box-shadow: 0px 0px 5px #2a3cad;
}

.banner {
    width: 1200px;
    height: 353px;
    object-fit: cover;
}

#PhanMenu1 {
    width: 760px;
    height: 50px;
    color: white;
    float: left;
    background: #2e2180;
}

#PhanMenu_2 {
    width: 440px;
    height: 50px;
    color: white;
    float: right;
    background: #2e2180;
}
a.menu {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 12px 35px;
}

.search {
    width: 50%;
    height: 27px;
}

a.menu:hover {
    color: #ff8c69;
}

#PhanMenu_2 .search-btn {
    margin: 8px 0;
    padding: 8px 22px;
    border: none;
    background-color: #ff8c69;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#PhanGiua {
    clear: both;
    width: 1200px;
}

#BenTrai {
    width: 200px;
    float: left;
}

#BenTrai h3 {
    height: 30px;
    text-align: center;
    font-size: 16px;
    padding: 2px 0 0 5px;
    margin-bottom: 0;
    margin-top: 1px;
    background-color: #3f3f3f;
    color: #ffffff;
}

h3.xemthem {
    font-size: 16px;
    padding: 2px 0 0 5px;
    margin-bottom: 0;
    margin-top: 1px;
    color: #ffffff;
    clear: both;
}
#BenTrai ul {
    list-style-image: url(../images/li.gif);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    border: 1px solid #aaa;
}

#BenTrai ul li a {
    text-decoration: none;
    color: #0000ff;
}

#BenTrai ul li:hover {
    background-color: #555;
    font-weight: bold;
}

#BenTrai ul li a:hover {
    color: white;
}

#Giua {
    width: 790px;
    float: left;
    margin-left: 5px;
}

#BenPhai h3 {
    font-size: 16px;
    padding: 2px 0 0 5px;
    margin-bottom: 0;
    margin-top: 1px;
    background-color: #99ffff;
    color: #ff3333;
}

#BenPhai {
    width: 190px;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}

#BenPhai img {
    display: block;
    border: 1px solid #ffffff;
    object-fit: cover;
}

#Giua h1 {
    display: block;
    margin-right: 30px;
    color: #333;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.42857;
}

#Giua h3 {
    font-size: 16px;
    padding: 2px 0 10px 0;
    color: #4169e1;
    font-family: Tahoma;
    margin-top: 8px;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #e59285;
}

.title-giua {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.title-main {
    color: #e59285;
}

#Giua h4 {
    font-size: 15px;
    padding: 2px 0 10px 0;
    color: #008000;
    font-family: Tahoma;
    margin-top: 8px;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #ffd700;
}

#PhanCuoi table {
    margin-left: 10px;
}
.ThongBaoLoi {
    padding: 0;
    margin: 0;
    color: #ff0000;
}

.ThongBao {
    padding: 0;
    margin: 0;
    color: #0000ff;
}

.ThongTin {
    color: red;
    font-weight: bold;
}

table.Form {
    border-collapse: collapse;
}

table.Form th {
    border: 0px solid #778899;
    padding: 3px 2px 3px 2px;
}

table.Form td {
    border: 0px solid #778899;
    padding: 3px 2px 3px 2px;
}

table.DanhSach {
    width: 100%;
    border-collapse: collapse;
}

table.DanhSach th {
    border: 1px solid #778899;
    padding: 3px 2px 3px 2px;
    background: #b0c4de;
}

table.DanhSach td {
    border: 1px solid #778899;
    padding: 3px 2px 3px 2px;
}

i textarea {
    border-top: 1px dotted #808000;
    border-left: 1px dotted #808000;
    border-right: 1px dotted #808000;
    border-bottom: 1px dotted #808000;
}

input[type="submit"] {
    margin-top: 1px;
    border: 1px solid #808000;
    padding: 3px 5px 3px 5px;
    background-color: #ff33cc;
    color: white;
    font-weight: bold;
}

input.error {
    border-bottom: 1px solid #ff0000;
}

select.error {
    border-bottom: 1px solid #ff0000;
}

textarea.error {
    border-top: 1px solid #ff0000;
    border-left: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
}

span.requirefield {
    color: #ff0000;
    font-size: 12px;
}

span.luotxem {
    color: blue;
    font-size: 16px;
}
span.dongia {
    color: #0c75f3;
    font-size: 20px;
}

#binhchon {
    color: #ff0000;
    font-size: 16pt;
}

p.requirefields {
    color: #ff0000;
    font-style: italic;
    font-size: 12px;
    padding: 0;
    margin: 3px 0px 3px 0px;
}
#result {
    margin: 20px 0px;
}
.rate {
    width: 200px;
    border: 1px solid #ccc;
}
.like {
    float: left;
    background-color: #006400;
    width: 0px;
    height: 12px;
}
.dislike {
    float: right;
    background-color: red;
    width: 0px;
    height: 12px;
}

#menudung ul {
    background: white;
    width: 199px;
    padding: 0;
    list-style: none;
    text-align: left;
}

#menudung li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}

#menudung li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}
#menudung li:hover {
    color: #ff0000;
}
#menudung ul li {
    position: relative;
    font-size: 10pt;
    background-color: #fff;
}

#menudung .sub-menu {
    position: absolute;
    left: 178px;
    top: 0;
    display: none;
}
#menudung li:hover .sub-menu {
    display: block;
    font-size: 13pt;
}

a {
    text-decoration: none;
}

#bigPic {
    width: 750px;
    height: 238px;
    padding: 1px;

    background-color: #fff;
    margin-bottom: 10px;
}
#bigPic img {
    position: absolute;
    display: none;
}
ul#thumbs li.active {
    border: 2px solid #000;
    background: #fff;
    padding: 2px;
}
ul#thumbs,
ul#thumbs li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#thumbs li {
    float: left;
    margin-right: 2px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    cursor: pointer;
}
ul#thumbs img {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;

    z-index: 1;
}

.khungsanpham {
    width: 250px;
    height: 260px;
    float: left;
}

.card {
    width: 234px;
    margin: 8px;
    padding: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    float: left;
}

.card:hover {
    background: #c6dfef;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.card-link {
    text-decoration: none;
}
.card_moivenew {
    width: 140px;
    height: 205px;
    background-color: #333;
    margin: 0.9px;
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
}

.card_moivenew:hover {
    transform: scale(0.9);
}
.card-link {
    text-decoration: none;
}

/** Promo */

.promo-area {
    color: #fff;
    padding: 40px 0 20px;
}

.promo-area .zigzag-bottom,
.brands-area .zigzag-bottom {
    background: #f4f4f4;
}

.single-promo {
    font-size: 18px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}

.single-promo i {
    font-size: 50px;
}

.single-promo:hover {
    color: #fff;
    background: #222;
}

.info-1,
.info-2,
.info-3,
.info-4 {
    width: 182px;
}

.promo1 {
    background: #5a88ca;
}

.promo2 {
    background: #ffd900;
}

.promo3 {
    background: #fa8072;
}

.promo4 {
    background: #4abebd;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
}
